importFrom("stats", "approx", "bw.nrd", "pnorm")
importFrom("graphics", "legend", "lines", "plot")
importFrom("methods", "is")
importFrom("stats", "aggregate", "approxfun", "binomial", "coef",
           "deviance", "glm", "plogis", "predict", "quasibinomial",
           "sd")
importFrom("utils", "read.csv", "read.table", "write.table")
importFrom("glmnet", "glmnet", "cv.glmnet")
export(PhecapData)
export(PhecapSurrogate)
export(phecap_run_feature_extraction)
export(phecap_train_phenotyping_model)
export(phecap_validate_phenotyping_model)
export(phecap_predict_phenotype)
export(phecap_plot_roc_curves)
S3method(print, PhecapData)
S3method(print, PhecapFeatureExtraction)
S3method(print, PhecapModel)
S3method(print, PhecapValidation)
